#!/bin/bash
echo > /tmp/pv-creation-log.txt
for i in {1..{{ openshift_num_pvs }}}
do
if ! oc get pv/$(printf 'pv%03d' $i)
then
printf 'kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv%03d
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
  hostPath:
    path: "/home/{{ openshift_user }}/pvs/pv%03d"
  persistentVolumeReclaimPolicy: Recycle
' $i $i | oc create {{ openshift_creds }} -f - >> /tmp/pv-creation-log.txt
else
printf 'pv%03d already exists.\n' $i >> /tmp/pv-creation-log.txt
fi
done
