#!/bin/bash

set -e

cd ~{{ openshift_user }}

# Import latest EAP images
oc import-image jboss-eap64-openshift -n openshift --all --confirm {{ openshift_creds }}
oc import-image jboss-eap70-openshift -n openshift --all --confirm {{ openshift_creds }}

# Import older image for demo purposes
oc import-image openshift/jboss-eap70-openshift:1.3 --from=registry.access.redhat.com/jboss-eap-7/eap70-openshift:1.3 --confirm -n openshift {{ openshift_creds }} || true

# Create projects if they don't exist
oc new-project pqc-support --display-name "PQC Support Infrastructure"  {{ openshift_creds }} || true
oc new-project pqc-dev --display-name "PQC Development Project" {{ openshift_creds }} || true
oc new-project pqc-test --display-name "PQC Test Project" {{ openshift_creds }} || true
oc new-project pqc-prod --display-name "PQC Production Project" {{ openshift_creds }} || true

# Wait for registry to start
while ! oc get pods -n default  {{ openshift_creds }} | grep docker-registry | grep Running 
do
sleep 1
done

# Reset the jenkins pvc
if oc get pvc -n pqc-support {{ openshift_creds }} | grep jenkins
then
JENKINS_PV=$(oc get pvc -n pqc-support {{ openshift_creds }} | grep jenkins | awk '{print $3}')
JENKINS_PV_DIR=/home/openshift/pvs/${JENKINS_PV}
sudo chmod 777 ${JENKINS_PV_DIR}/jobs/Personal\ Qualification\ Calculator/nextBuildNumber
echo 1 > ${JENKINS_PV_DIR}/jobs/Personal\ Qualification\ Calculator/nextBuildNumber
sudo rm -fr ${JENKINS_PV_DIR}/jobs/Personal\ Qualification\ Calculator/builds/*
else
echo "Jenkins PVC does not exist yet"
fi

# Create the PQC Support Project
oc delete all --all -n pqc-support {{ openshift_creds }}
oc delete template pqc-support -n pqc-support {{ openshift_creds }} || true
oc create -f pqc_templates/pqc_support_template.yml -n pqc-support {{ openshift_creds }}
oc new-app --template=pqc-support -n pqc-support {{ openshift_creds }} || true
oc start-build --from-file=./sonarqube/Dockerfile bc/sonarqube-custom --follow --wait --namespace=pqc-support {{ openshift_creds }}

# Create the PQC Development Project
oc delete all --all -n pqc-dev {{ openshift_creds }}
oc delete template pqc-dev -n pqc-dev {{ openshift_creds }} || true
oc create -f pqc_templates/pqc_dev_template.yml -n pqc-dev {{ openshift_creds }}
oc new-app --template=pqc-dev -n pqc-dev {{ openshift_creds }} || true

# Create the PQC Test Project
oc delete all --all -n pqc-test {{ openshift_creds }}
oc delete template pqc-test -n pqc-test {{ openshift_creds }} || true
oc create -f pqc_templates/pqc_test_template.yml -n pqc-test {{ openshift_creds }}
oc new-app --template=pqc-test -n pqc-test {{ openshift_creds }} || true

# Create the PQC Production Project
oc delete all --all -n pqc-prod {{ openshift_creds }}
oc delete template pqc-prod -n pqc-prod {{ openshift_creds }} || true
oc create -f pqc_templates/pqc_prod_template.yml -n pqc-prod {{ openshift_creds }}
oc new-app --template=pqc-prod -n pqc-prod {{ openshift_creds }} || true
